/* screen - explore */

.explore {
  background-color: var(--cararra);
  height: 100vh;
  margin: 0px;
  min-height: 1071px;
  min-width: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.explore .accessibilitysettings-C61RwL {
  background-color: transparent;
  height: 54px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: fixed;
  right: 40px;
  text-align: center;
  top: 54px;
  white-space: nowrap;
  width: 118px;
}
.explore .activism-Up4MTg {
  background-color: transparent;
  bottom: calc(47.96% - 11px);
  height: 22px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  width: 72px;
}
.explore .activism-VY7LSp {
  background-color: transparent;
  bottom: calc(46.94% - 10px);
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: 22px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  width: 63px;
}
.explore .age-VY7LSp {
  background-color: transparent;
  bottom: calc(31.58% - 14px);
  height: 44px;
  left: 96px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: 32px;
}
.explore .black-studies-VY7LSp {
  background-color: transparent;
  bottom: calc(32.20% - 20px);
  height: 61px;
  left: 150px;
  letter-spacing: 0.00px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 63px;
}
.explore .body-VY7LSp {
  background-color: transparent;
  bottom: calc(48.00% - 10px);
  height: 20px;
  left: calc(16.48% - 10px);
  letter-spacing: 0.00px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 63px;
}
.explore .canada-VY7LSp {
  background-color: transparent;
  bottom: calc(47.00% - 9px);
  height: 20px;
  left: calc(21.72% - 14px);
  letter-spacing: 0.00px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 63px;
}
.explore .class-VY7LSp {
  background-color: transparent;
  bottom: calc(47.00% - 9px);
  height: 20px;
  left: calc(27.08% - 14px);
  letter-spacing: 0.00px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 50px;
}
.explore .colonialism-VY7LSp {
  background-color: transparent;
  bottom: calc(41.57% - 13px);
  height: 31px;
  left: calc(32.54% - 30px);
  letter-spacing: 0.00px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 92px;
}
.explore .component-14-5-xD3MbT {
  background-color: transparent;
  height: 120px;
  left: 1px;
  position: relative;
  top: 0px;
  width: 1400px;
}
.explore .component-16-2-C61RwL {
  background-color: transparent;
  bottom: calc(22.85% - 14px);
  height: 60px;
  position: fixed;
  right: 20px;
  width: 80px;
}
.explore .component-18-2-C61RwL {
  background-color: transparent;
  height: 40px;
  position: fixed;
  right: 260px;
  top: calc(21.34% - 9px);
  width: 460px;
}
.explore .component-20-1-VY7LSp {
  background-color: transparent;
  bottom: calc(47.50% - 38px);
  height: 80px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 80px;
}
.explore .component-20-1-VY7LSp:hover {

transform: scale(1.1);
}
.explore .component-24-2-C61RwL {
  background-color: transparent;
  height: 40px;
  position: fixed;
  right: calc(31.03% - 56px);
  top: calc(27.16% - 11px);
  width: 180px;
}
.explore .component-25-2-C61RwL {
  background-color: transparent;
  height: 120px;
  position: fixed;
  right: 39px;
  top: calc(35.75% - 43px);
  width: 681px;
}
.explore .culture-VY7LSp {
  background-color: transparent;
  bottom: calc(47.00% - 9px);
  height: 20px;
  left: calc(39.70% - 25px);
  letter-spacing: 0.00px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 63px;
}
.explore .decolonization-VY7LSp {
  background-color: transparent;
  bottom: calc(42.70% - 13px);
  height: 31px;
  left: calc(46.87% - 57px);
  letter-spacing: 0.00px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 122px;
}
.explore .dia-da-costa-sheher-C61RwL {
  background-color: transparent;
  height: 26px;
  left: calc(24.32% - 47px);
  letter-spacing: 0.00px;
  line-height: 18px;
  position: fixed;
  text-align: left;
  text-decoration: underline;
  top: calc(19.14% - 5px);
  white-space: nowrap;
  width: 193px;
}
.explore .diadacosta256-150x225-C61RwL {
  background-color: transparent;
  height: 120px;
  left: 280px;
  object-fit: cover;
  position: fixed;
  top: calc(21.03% - 25px);
  width: 120px;
}
.explore .disability-VY7LSp {
  background-color: transparent;
  bottom: calc(41.57% - 13px);
  height: 31px;
  letter-spacing: 0.00px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  right: calc(44.64% - 41px);
  text-align: center;
  width: 92px;
}
.explore .diversity-VY7LSp {
  background-color: transparent;
  bottom: calc(41.57% - 13px);
  height: 31px;
  letter-spacing: 0.00px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  right: calc(36.98% - 34px);
  text-align: center;
  width: 92px;
}
.explore .ellipse-20-VY7LSp {
  background-color: var(--candlelight);
  border-radius: 40px;
  bottom: calc(47.50% - 38px);
  height: 80px;
  left: 0px;
  position: absolute;
  width: 80px;
}
.explore .ellipse-21-VY7LSp {
  background-color: var(--sunglow);
  border-radius: 30px;
  bottom: calc(48.33% - 29px);
  height: 60px;
  left: 80px;
  position: absolute;
  width: 60px;
}
.explore .ellipse-22-VY7LSp {
  background-color: var(--yellow-orange);
  border-radius: 40px;
  height: calc(100.00% - 40px);
  left: 140px;
  position: absolute;
  top: 20px;
  width: 80px;
}
.explore .ellipse-23-VY7LSp {
  background-color: var(--fern);
  border-radius: 30px;
  bottom: calc(48.33% - 29px);
  height: 60px;
  left: calc(16.44% - 10px);
  position: absolute;
  width: 60px;
}
.explore .ellipse-24-VY7LSp {
  background-color: var(--jade);
  border-radius: 40px;
  bottom: calc(45.00% - 36px);
  height: 80px;
  left: calc(21.24% - 17px);
  position: absolute;
  width: 80px;
}
.explore .ellipse-25-VY7LSp {
  background-color: var(--persian-green);
  border-radius: 30px;
  bottom: calc(45.00% - 27px);
  height: 60px;
  left: calc(26.91% - 16px);
  position: absolute;
  width: 60px;
}
.explore .ellipse-26-VY7LSp {
  background-color: var(--wedgewood);
  border-radius: 50px;
  height: calc(100.00% - 20px);
  left: calc(32.36% - 32px);
  position: absolute;
  top: 11px;
  width: 100px;
}
.explore .ellipse-27-VY7LSp {
  background-color: var(--candlelight);
  border-radius: 40px;
  bottom: calc(47.50% - 38px);
  height: 80px;
  left: calc(39.45% - 32px);
  position: absolute;
  width: 80px;
}
.explore .ellipse-28-VY7LSp {
  background-color: var(--sunglow);
  border-radius: 60px;
  height: 100%;
  left: calc(46.79% - 56px);
  position: absolute;
  top: 0px;
  width: 120px;
}
.explore .ellipse-29-VY7LSp {
  background-color: var(--yellow-orange);
  border-radius: 50px;
  height: calc(100.00% - 20px);
  position: absolute;
  right: calc(44.68% - 45px);
  top: 11px;
  width: 100px;
}
.explore .ellipse-30-VY7LSp {
  background-color: var(--fern);
  border-radius: 50px;
  height: calc(100.00% - 20px);
  position: absolute;
  right: calc(36.98% - 37px);
  top: 11px;
  width: 100px;
}
.explore .ellipse-31-VY7LSp {
  background-color: var(--jade);
  border-radius: 60px;
  height: 100%;
  position: absolute;
  right: calc(28.17% - 34px);
  top: 0px;
  width: 120px;
}
.explore .ellipse-32-VY7LSp {
  background-color: var(--persian-green);
  border-radius: 30px;
  height: 60px;
  position: absolute;
  right: calc(22.42% - 13px);
  top: calc(50.00% - 30px);
  width: 60px;
}
.explore .ellipse-33-VY7LSp {
  background-color: var(--wedgewood);
  border-radius: 40px;
  height: calc(100.00% - 40px);
  position: absolute;
  right: calc(16.69% - 13px);
  top: 20px;
  width: 80px;
}
.explore .ellipse-34-VY7LSp {
  background-color: var(--candlelight);
  border-radius: 50px;
  height: calc(100.00% - 20px);
  position: absolute;
  right: 120px;
  top: 11px;
  width: 100px;
}
.explore .ellipse-35-VY7LSp {
  background-color: var(--sunglow);
  border-radius: 60px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 120px;
}
.explore .ellipse-37-wFrNiq {
  background-color: var(--candlelight);
  border-radius: 40px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.explore .environment-VY7LSp {
  background-color: transparent;
  bottom: calc(42.70% - 13px);
  height: 31px;
  letter-spacing: 0.00px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  right: calc(28.43% - 28px);
  text-align: center;
  width: 100px;
}
.explore .ethics-VY7LSp {
  background-color: transparent;
  bottom: calc(48.00% - 10px);
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  right: calc(22.25% - 14px);
  text-align: center;
  width: 63px;
}
.explore .explore-C61RwL {
  background-color: transparent;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: fixed;
  right: calc(26.10% - 19px);
  text-align: left;
  top: 117px;
  white-space: nowrap;
  width: 73px;
}
.explore .faculty-C61RwL {
  background-color: transparent;
  height: 28px;
  left: calc(30.59% - 21px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: fixed;
  text-align: left;
  top: 127px;
  white-space: nowrap;
  width: 70px;
}
.explore .family-VY7LSp {
  background-color: transparent;
  bottom: calc(49.00% - 10px);
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  right: calc(17.00% - 11px);
  text-align: center;
  width: 63px;
}
.explore .feminism-C61RwL {
  background-color: transparent;
  height: 28px;
  left: 80px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: fixed;
  text-align: left;
  top: 187px;
  white-space: nowrap;
  width: 91px;
}
.explore .feminism-VY7LSp {
  background-color: transparent;
  bottom: calc(42.70% - 13px);
  height: 31px;
  letter-spacing: 0.00px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  right: 123px;
  text-align: center;
  width: 92px;
}
.explore .feminist-theory-film-VY7LSp {
  background-color: transparent;
  bottom: calc(40.58% - 21px);
  height: 51px;
  letter-spacing: 0.00px;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  right: -2px;
  text-align: center;
  width: 122px;
}
.explore .filter-results-by-C61RwL {
  background-color: transparent;
  height: 28px;
  left: 260px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: fixed;
  text-align: left;
  top: 127px;
  white-space: nowrap;
  width: 158px;
}
.explore .home-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: fixed;
  right: calc(35.43% - 20px);
  text-align: left;
  top: 117px;
  white-space: nowrap;
  width: 57px;
}
.explore .icon-awesome-question-circle-C61RwL {
  background-color: transparent;
  height: 40px;
  left: 160px;
  object-fit: cover;
  position: fixed;
  top: 120px;
  width: 40px;
}
.explore .icon-awesome-search-xMahxU {
  background-color: transparent;
  bottom: calc(46.43% - 12px);
  height: 26px;
  object-fit: cover;
  position: absolute;
  right: 20px;
  width: 26px;
}
.explore .icon-ionic-ios-arrow-back-vzpmx0 {
  background-color: transparent;
  bottom: calc(49.80% - 12px);
  height: 24px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 14px;
}
.explore .icon-ionic-ios-arrow-forward-vzpmx0 {
  background-color: transparent;
  height: 24px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: calc(49.80% - 12px);
  width: 14px;
}
.explore .icon-ionic-ios-close-C61RwL {
  background-color: transparent;
  height: 16px;
  left: 52px;
  object-fit: cover;
  position: fixed;
  top: 192px;
  width: 16px;
}
.explore .info-2ztvRL {
  background-color: transparent;
  bottom: calc(46.88% - 13px);
  height: 28px;
  left: calc(47.73% - 17px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 36px;
}
.explore .join-our-directory-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: fixed;
  right: 212px;
  text-align: left;
  top: 117px;
  white-space: nowrap;
  width: 173px;
}
.explore .or-by-keyword-oeWZR4 {
  background-color: transparent;
  height: 28px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 8px;
  white-space: nowrap;
  width: 148px;
}
.explore .position-C61RwL {
  background-color: transparent;
  height: 28px;
  left: calc(24.02% - 18px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: fixed;
  text-align: left;
  top: 127px;
  white-space: nowrap;
  width: 76px;
}
.explore .privacy-C61RwL {
  background-color: transparent;
  bottom: 17px;
  height: 26px;
  left: 279px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: fixed;
  text-align: left;
  white-space: nowrap;
  width: 64px;
}
.explore .professorfacult-st-praxis-south-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-violetsans-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: 102px;
  left: calc(35.06% - 253px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: fixed;
  text-align: left;
  top: calc(23.63% - 24px);
  width: 722px;
}
.explore .rectangle-117-xMahxU {
  background-color: var(--cararra);
  border-radius: 50px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.explore .rectangle-218-2ztvRL {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.explore .rectangle-224-C61RwL {
  background-color: var(--cararra);
  border-radius: 50px;
  height: 40px;
  left: calc(23.33% - 28px);
  position: fixed;
  top: 120px;
  width: 120px;
}
.explore .rectangle-225-C61RwL {
  background-color: var(--cararra);
  border-radius: 50px;
  height: 40px;
  left: calc(30.00% - 36px);
  position: fixed;
  top: 120px;
  width: 120px;
}
.explore .rectangle-226-C61RwL {
  background-color: var(--cararra);
  border-radius: 50px;
  height: 40px;
  left: calc(38.37% - 77px);
  position: fixed;
  top: 120px;
  width: 200px;
}
.explore .rectangle-229-C61RwL {
  background-color: var(--cararra);
  border-radius: 30px;
  bottom: 111px;
  height: 780px;
  left: 260px;
  position: fixed;
  width: 900px;
}
.explore .rectangle-231-C61RwL {
  background-color: var(--candlelight);
  border-radius: 50px;
  height: 40px;
  left: 40px;
  opacity: 0.75;
  position: fixed;
  top: calc(17.46% - 7px);
  width: 140px;
}
.explore .rectangle-242-oeWZR4 {
  background-color: var(--cararra);
  border-radius: 30px;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.explore .rectangle-243-C61RwL {
  background-color: var(--white);
  border-radius: 20px;
  height: 1880px;
  left: 510px;
  position: fixed;
  top: -390px;
  transform: rotate(-90deg);
  width: 900px;
}
.explore .rectangle-244-C61RwL {
  background-color: transparent;
  height: 80px;
  object-fit: cover;
  position: fixed;
  right: 20px;
  top: 40px;
  width: 160px;
}
.explore .rectangle-245-C61RwL {
  background-color: transparent;
  height: 60px;
  object-fit: cover;
  position: fixed;
  right: 180px;
  top: 100px;
  width: 240px;
}
.explore .rectangle-246-C61RwL {
  background-color: transparent;
  height: 60px;
  object-fit: cover;
  position: fixed;
  right: calc(25.00% - 40px);
  top: 100px;
  width: 160px;
}
.explore .rectangle-247-C61RwL {
  background-color: transparent;
  height: 60px;
  object-fit: cover;
  position: fixed;
  right: calc(34.83% - 49px);
  top: 100px;
  width: 140px;
}
.explore .rectangle-248-C61RwL {
  background-color: var(--white);
  border-radius: 30px;
  bottom: 11px;
  height: 40px;
  left: 20px;
  position: fixed;
  width: 220px;
}
.explore .rectangle-249-C61RwL {
  background-color: var(--white);
  border-radius: 30px;
  bottom: 11px;
  height: 40px;
  left: 260px;
  position: fixed;
  width: 100px;
}
.explore .rectangle-250-C61RwL {
  background-color: var(--black);
  border-radius: 50px;
  height: 40px;
  left: 40px;
  position: fixed;
  top: 120px;
  width: 100px;
}
.explore .reset-C61RwL {
  background-color: transparent;
  height: 28px;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: fixed;
  text-align: left;
  top: 127px;
  white-space: nowrap;
  width: 67px;
}
.explore .scroll-group-5-vzpmx0 {
  background-color: transparent;
  height: 120px;
  left: 40px;
  mix-blend-mode: normal;
  overflow-x: scroll;
  position: absolute;
  top: calc(50.00% - 60px);
  width: calc(100.00% - 80px);
}
.explore .scroll-group-5-vzpmx0::-webkit-scrollbar {
  display: none;
  width: 0;
}
.explore .search-xMahxU {
  background-color: transparent;
  bottom: calc(41.67% - 12px);
  height: 28px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 84px;
}
.explore .self-identification-C61RwL {
  background-color: transparent;
  height: 28px;
  left: calc(38.66% - 65px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: fixed;
  text-align: left;
  top: 127px;
  white-space: nowrap;
  width: 169px;
}
.explore .ua-iog-1-c-solid-C61RwL {
  background-color: transparent;
  height: 60px;
  left: 34px;
  object-fit: cover;
  position: fixed;
  top: 20px;
  width: 446px;
}
.explore .university-of-alberta-C61RwL {
  background-color: transparent;
  bottom: 17px;
  height: 26px;
  left: 43px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: fixed;
  text-align: left;
  white-space: nowrap;
  width: 176px;
}
