@media (min-width: 576px) {
  :root {
    --size-divisor: 2;
  }
}
@media (min-width: 768px) {
  :root {
    --size-divisor: 1.5;
  }
}
@media (min-width: 992px) { 
  :root {
    --size-divisor: 1;
  }
}
@media (min-width: 1200px) { 
  :root {
    --size-divisor: .67;
  }
}
* {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  background-color: var(--cararra);
  overflow: scroll;
}
button {
  text-align: center;
  text-decoration: underline;
  border: none;
  background: none;
  font: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}



/*STATIC ON EACH PAGE*/
.background-white {
  background-color: var(--white);
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow-y: scroll;
}
.header {
  display: inline-block;
  width: 100%;
}
.navigationalmenu {
  float: right;
  margin-right: 100px;
}
.home-rectangle {
  background-color: black;
  color: white;
  padding: 15px;
  position: relative;
  display: inline-block;
  border-radius: 0px 0px 20px 20px;
}
.explore-rectangle {
  background-color: black;
  color: white;
  position: relative;
  display: inline-block;
  padding: 15px;
  border-radius: 0px 0px 20px 20px;
}
.join-rectangle {
  background-color: black;
  color: white;
  object-fit: cover;
  position: relative;
  display: inline-block;
  padding: 15px;
  border-radius: 0px 0px 20px 20px;
}
.privacy-rectangle {
  background-color: black;
  color: white;
  position: relative;
  display: inline-block;
  border-radius: 50px;
  position: relative;
  margin-top: 15px;
  padding: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.dropdown:hover .settings {
  display: block;
  z-index: 1;
}
.settings {
  display: none;
  position: absolute;
  margin-top: 14px;
  right: 0px !important;
  background-color: #ececec;
  border-radius: 0px 0px 20px 20px;
  width: 102px;
}
.settings button {
  display: block;
  color: black;
  font-size: 14px;
  padding: 15px;
  z-index: 1;
}
.settings-rectangle {
  background-color: white;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 15px;
  float: right;
  margin-right: 20px;
  top: 41px;
  border-radius: 20px 20px 0px 0px;
}
.uofa-rectangle {
  background-color: black;
  color: white;
  position: relative;
  display: inline-block;
  border-radius: 50px;
  position: relative;
  margin-top: 15px;
  padding: 10px;
}
.footer {
  display: block;
  position: relative;
  clear: both;
  bottom: 10px;
  margin-left: 20px;
}





/*
HOME BODY*/
.home-body {
  display: inline-block;
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 10%;
}
.title {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-arial-bold);
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  position: relative;
  text-align: left;
}
.explore-text {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
  width: 775px;
}
.info-button {
  color: white;
  margin: 11px;
  position: relative;
  text-align: center;
}
.info-rectangle {
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 20px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 12.5px;
  z-index: 1;
}
.searchbar-rectangle {
  background-color: var(--cararra);
  border-radius: 50px;
  cursor: pointer;
  height: 40px;
  position: relative;
  width: 400px;
  display: inline-block;
  margin-top: 15px;
  padding: 12.5px;
}
.keyword-rectangle {
  background-color: var(--cararra);
  border-radius: 50px;
  cursor: pointer;
  height: 40px;
  position: relative;
  display: inline-block;
  margin-top: 15px;
  padding: 12.5px;
}
.ui-dialog {
  background-color: var(--cararra);
  color: black;
  position: relative;
  z-index: 1;
  border-radius:30px;  
  margin: 10px;
  padding: 20px;
  left: 20PX;
  line-height: 20px;

}
.ui-dialog-title {
  font-size: 125%;
  text-decoration: underline;
}
.ui-dialog-titlebar {
  background-color: var(--cararra);
  margin-bottom: 10px;
}
.ui-dialog-titlebar-close {
  float: right;
  position: relative;
  color: WHITE;
  font-size: 14px;
  text-decoration: none;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
  background: url("img/close.png") no-repeat center;
  border: none;
  color: black;
  background-color: var(--cararra);
}
#opener, #opener2 {
  cursor: pointer;
}






/*ICONS/IMAGES*/
.icon-search {
  background-color: transparent;
  height: 26px;
  object-fit: cover;
  position: absolute;
  right: 20px;
  top: calc(50.00% - 13px);
  width: 26px;
}
.icon-arrow-back {
  background-color: transparent;
  bottom: calc(49.80% - 12px);
  height: 24px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 14px;
}
.icon-arrow-forward {
  background-color: transparent;
  height: 24px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: calc(49.80% - 12px);
  width: 14px;
}
.ua-logo {
  height: 60px;
  object-fit: cover;
  position: relative;
  margin: 20px;
  display: inline-block;
}





/*KEYWORD SEARCH BOX*/
.scrolling {
  overflow-x: scroll;
  overflow-y: visible;
  mix-blend-mode: normal;
  white-space: nowrap;
  position: relative;
  width: 775px;
  height: 150px;
}
#inline-scrolling {
  display: inline-block;
  margin-top: 15px;
}
.text {
  color: black;
  text-align: center;
  position: relative;
  width: 100px;
  bottom: 58px;
}
.e-1, .e-2, .e-3, .e-4, .e-5, .e-6, .e-7, .e-8, .e-9, .e-10, .e-11, .e-12, .e-13, .e-14, .e-15, .e-16, .e-17, .e-18, .e-19, .e-20, .e-21, .e-22, .e-23, .e-24, .e-25, .e-26, .e-27, .e-28, .e-29, .e-30, .e-31, .e-32, .e-33, .e-34, .e-35, .e-36, .e-37, .e-38, .e-39, .e-40, .e-41, .e-42, .e-43, .e-44, .e-45, .e-46, .e-47, .e-48, .e-49, .e-50, .e-51, .e-52, .e-53, .e-54, .e-55 {
  position: relative;
  color: black;
  text-align: center;
  border-radius: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.e-1, .e-8, .e-15, .e-22, .e-29, .e-36, .e-43, .e-50 {
  background-color: var(--candlelight);
}
.e-2, .e-9, .e-16, .e-23, .e-30, .e-37, .e-44, .e-51 {
  background-color: var(--sunglow);
}
.e-3, .e-10, .e-17, .e-24, .e-31, .e-38, .e-45, .e-52 {
  background-color: var(--yellow-orange);
}
.e-4, .e-11, .e-18, .e-25, .e-32, .e-39, .e-46, .e-53 {
  background-color: var(--fern);
}
.e-5, .e-12, .e-19, .e-26, .e-33, .e-40, .e-47, .e-54 {
  background-color: var(--jade);
}
.e-6, .e-13, .e-20, .e-27, .e-34, .e-41, .e-48, .e-55 {
  background-color: var(--persian-green);
}
.e-7, .e-14, .e-21, .e-28, .e-35, .e-42, .e-49 {
  background-color: var(--wedgewood);
}
.e-1:hover, .e-2:hover, .e-3:hover, .e-4:hover, .e-5:hover, .e-6:hover, .e-7:hover, .e-8:hover, .e-9:hover, .e-10:hover, .e-11:hover, .e-12:hover, .e-13:hover, .e-14:hover, .e-15:hover, .e-16:hover, .e-17:hover, .e-18:hover, .e-19:hover, .e-20:hover, .e-21:hover, .e-22:hover, .e-23:hover, .e-24:hover, .e-25:hover, .e-26:hover, .e-27:hover, .e-28:hover, .e-29:hover, .e-30:hover, .e-31:hover, .e-32:hover, .e-33:hover, .e-34:hover, .e-35:hover, .e-36:hover, .e-37:hover, .e-38:hover, .e-39:hover, .e-40:hover, .e-41:hover, .e-42:hover, .e-43:hover, .e-44:hover, .e-45:hover, .e-46:hover, .e-47:hover, .e-48:hover, .e-49:hover, .e-50:hover, .e-51:hover, .e-52:hover, .e-53:hover, .e-54:hover, .e-55:hover {
  transform: scale(1.4);
  opacity: 90%;
  text-decoration: underline;
  pointer-events: auto;
  transition: all 0.1s ease;
  z-index: 1;
}




/*IDK*/
.scroll-group-5 {
  background-color: transparent;
  height: 150px;
  left: 34px;
  mix-blend-mode: normal;
  overflow-x: scroll;
  position: absolute;
  top: calc(50.00% - 60px);
  width: calc(100.00% - 68px);
}
.scroll-group-5:-webkit-scrollbar {
  display: none;
  width: 0;
}
.component-14-5 {
  background-color: transparent;
  height: 120px;
  left: 1px;
  position: relative;
  top: 0px;
  width: 1400px;
}
.component-25-1 {
  background-color: transparent;
  bottom: calc(34.81% - 42px);
  height: 120px;
  left: calc(44.15% - 437px);
  position: fixed;
  width: 989px;
}




/*EXPLORE PAGE ONLY*/
.background-grey {
  background-color: var(--cararra);
  border-radius: 30px;
  height: 500px;
  position: relative;
  width: 600px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
  overflow-y: scroll;
}
.left-content {
  display: inline-block;
  float: left;
}
.reset-text {
  background-color: var(--cararra);
  border-radius: 50px;
  position: relative;
  padding: 10px;
  margin-left: 15px;
  margin-right: 50px;
  overflow-wrap: break-word;
  display: inline-block;
}
.question-icon {
  position: relative;
  height: 30px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
/*  float: right;*/
}
.position-text {
  background-color: var(--cararra);
  border-radius: 50px;
  position: relative;
  padding: 10px;
  overflow-wrap: break-word;
  display: inline-block;
}
.faculty-text {
   background-color: var(--cararra);
  border-radius: 50px;
  position: relative;
  padding: 10px;
  overflow-wrap: break-word;
  display: inline-block;
}
.selfidentification-text {
  background-color: var(--cararra);
  border-radius: 50px;
  position: relative;
  padding: 10px;
  overflow-wrap: break-word;
  display: inline-block;
}
.filters {
  display: inline-block;
  vertical-align:top;
}
.filter-results-text {
  position: relative;
  padding: 10px;
  text-align: left;
  white-space: nowrap;
  display: inline-block;
  margin-top: 20px;
}
.filter1-text {
  background-color: var(--candlelight);
  border-radius: 50px;
  position: relative;
  margin: 15px;
  padding: 10px;
  overflow-wrap: break-word;
  display: inline-block;
}
.x-icon {
  object-fit: cover;
  position: relative
  width: 10px;
  height: 10px;
  display: inline-block;
}
.right-content {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 20px;
  margin-top: 5px;
}
.searchbar-rectangle-explore {
  background-color: var(--cararra);
  border-radius: 50px;
  cursor: pointer;
  height: 40px;
  position: relative;
  width: 400px;
  display: inline-block;
  margin-top: 15px;
  padding: 12.5px;
}
.keyword-rectangle-explore {
  background-color: var(--cararra);
  border-radius: 50px;
  cursor: pointer;
  height: 40px;
  position: relative;
  display: inline-block;
  margin-top: 15px;
  padding: 12.5px;
}
.info-rectangle-explore {
  background-color: black;
  border-radius: 20px 0px 0px 20px;
  position: relative;
  display: inline-block;
  right: 20px;
  float: right;
  bottom: 200px;
  z-index: 1;
}
.scrolling-explore {
  overflow-x: scroll;
  overflow-y: visible;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  height: 150px;
  width: 600px;
}
.info-rectangle-explore {
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 20px;
  position: relative;
  display: block;
  clear: both;
  margin: 10px;
  padding: 12.5px;
  z-index: 1;
  bottom: 10px;
}



.results {
  display: inline-block;
}
.results-image {
  position: relative;
  display: inline-block;
  float: left;
  width: 100px;
  margin: 20px;
}
.results-name {
  position: relative;
  float: left;
  text-decoration: underline;
  margin-top: 20px;
}
.results-description {
  color: var(--black);
  font-size: var(--font-size-xxs);
  position: relative;
  margin-top: 25px;
  margin-right: 20px;
  line-height: 15px;
}




/*JOIN OUR DIRECTORY*/
.info-join {
  position: relative;
  display: inline-block;
  background-color: var(--cararra);
  border-radius: 30px;
  margin: 20px;
  padding: 15px;
  width: 400px;
  line-height: 17px;
}





/*RESEARCHER PAGE*/
.background-grey-researcher {
  background-color: var(--cararra);
  border-radius: 30px;
  position: relative;
  width: 50%;
  margin: 20px;
  margin-bottom: 30px;
  display: inline-block;
  overflow-y: scroll;
  float: left;
}
.right-content-researcher {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 20px;
}
.results {
  display: inline-block;
}
.results-image {
  position: relative;
  display: inline-block;
  float: left;
  width: 100px;
  margin-top: 20px;
  margin-left: 20px;
}
.results-name {
  position: relative;
  float: left;
  text-decoration: underline;
  margin-top: 20px;
}
.info-1 {
  display: inline-block;
  position: relative;
  float: left;
  line-height: 17px;
  margin-top: 20px;
}
.info-2 {
  display: inline-block;
  position: relative;
  float: right;
  line-height: 17px;
  margin-top: 20px;
  padding: 17px;
}
.results-content {
  position: relative;
  display: block;
  margin-left: 20px;
  line-height: 17px;
}
.contact {
  background-color: white;
  border-radius: 30px;
  position: relative;
  padding: 10px;
  margin: 20px;
  float: right;
}
.back-to-search {
  background-color: var(--cararra);
  border-radius: 30px;
  position: relative;
  float: left;
  display: inline-block;
  padding: 10px;
  margin: 20px;
}
.explore-related {
  display: inline-block;
  position: relative;
  margin: 20px;
  vertical-align: top;
}
.related-scroll {
  background-color: var(--cararra);
  border-radius: 30px;
  padding: 20px;
  width: 450px;
  height: 150px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline-block;
}
.related {
  display: inline-block;
}
.related-results {
  display: inline-block;
  position: relative;
  margin: 20px;
  margin-top: 10px;
}
.related-image {
  position: relative;
  display: inline-block;
  float: left;
  width: 100px;
}
.related-title {
  background-color: var(--cararra);
  font-weight: 700;
  text-decoration: underline;
  position: relative;
  width: 230px;
  padding: 15px;
  margin-left: 30px;
  border-radius: 20px 20px 0px 0px;
}













